awkward==2.6.3
awkward-cpp==32
cocos2d==0.6.10
contourpy==1.1.1
cramjam==2.8.3
cycler==0.12.1
Cython==0.29.37
fonttools==4.51.0
fsspec==2024.3.1
glfw==2.7.0
h5py==3.11.0
imgui==2.0.0
importlib_metadata==7.1.0
importlib_resources==6.4.0
kiwisolver==1.4.5
matplotlib==3.7.5
msgpack==1.0.8
numexpr==2.8.6
packaging==24.0
pandas==2.0.3
pillow==10.3.0
py-cpuinfo==9.0.0
pygame==2.5.2
pyglet==1.5.28
PyOpenGL==3.1.7
pyparsing==3.1.2
PyQt5==5.15.10
PyQt5-Qt5==5.15.15
PyQt5-sip==12.13.0
PySDL2==0.9.16
python-dateutil==2.9.0.post0
pytz==2024.1
six==1.16.0
tk==0.1.0
typing_extensions==4.11.0
tzdata==2024.1
uproot==5.3.2
zipp==3.18.1
